POSTGRES_DB=tailbook
POSTGRES_USER=tailbook
POSTGRES_PASSWORD=tailbook
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=secret

TAILBOOK_API_PORT=8080
TAILBOOK_ADMIN_WEB_PORT=3001
TAILBOOK_CLIENT_WEB_PORT=3002
TAILBOOK_GROOMER_WEB_PORT=3003

ConnectionStrings__Main=Host=localhost;Port=5432;Database=tailbook;Username=tailbook;Password=tailbook;Include Error Detail=true
Jwt__Issuer=tailbook.local
Jwt__Audience=tailbook.apps
Jwt__SigningKey=change-this-in-local-dev-at-least-32-chars-long
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
